{% extends 'base.html' %}
{% load static %}
{% load secstotime %}
{% block title %}Best CP books{% endblock %}
{% block head %}
<meta name="Description" content="Some of the best competitive programming books suggested by experts of competitive programming with link to their pages. Some of the most trusted books for Competitive Programming.">
<link rel="stylesheet" type="text/css" href="{% static 'core/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}"/>
{% endblock %}
{% block content %}
    <h1 style="display: none;">Codeforces Viewer Books page</h1>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Hello 
                        {% if user.firstName %}
                            {{user.firstName}}
                        {% else %}
                            {{user.handle}}
                        {% endif %}
                            !</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item"><a href="index.html">Contests Page</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Contests List</h4>
                            <h6 class="card-subtitle">List of Books as suggested by experts of Competitive Programming along with their link.</h6>
                            <div class="table-responsive table-hover">
                                <table id="multi_col_order"
                                class="table table-bordered display" style="width:100%">
                                    <thead class="bg-warning text-white">
                                        <tr>
                                            <th>No</th>
                                            <th>Name</th>
                                            <th>Author</th>
                                            <th>Rating</th>
                                            <th>Pages</th>
                                            <th>Link</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Introduction to Algorithms (CLRS)</td>
                                            <td> Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest, Clifford Stein</td>
                                            <td>4.3</td>
                                            <td>1312</td>
                                            <td><a href="https://amzn.to/3ar4jNe">Link</a></td>
                                            <td>This book is the best textbook that one have ever seen on this subject. It offers an incisive, encyclopedic, and modern treatment of algorithms. It is a comprehensive textbook covering the full spectrum of modern algorithms</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Cracking the Coding Interview</td>
                                            <td>Gayle Laakmann McDowell</td>
                                            <td>4.2</td>
                                            <td>542</td>
                                            <td><a href="https://amzn.to/3aoefa2">Link</a></td>
                                            <td>It is a must have book while preparing for tier 1 company interviews. The author has worked as a software engineer at Google, Microsoft, and Apple. She interviewed hundreds of software engineers and evaluated thousands of hiring packets on the hiring Committee. And this books is the complete essence of all of her experience. </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Data Structures and Algorithms Made Easy</td>
                                            <td>Narasimha Karumanchi</td>
                                            <td>4.4</td>
                                            <td>418</td>
                                            <td><a href="https://amzn.to/34LZKM4">Link</a></td>
                                            <td class='column7'>A handy guide of sorts for any computer Science professional, data structures and algorithms made easy: data structures and algorithmic puzzles is a solution Bank for various complex problems related to data structures and algorithms. This book serves as guide to prepare for interviews, exams, and campus work.</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Guide to Competitive Programming</td>
                                            <td>Antti Laaksonen</td>
                                            <td>5</td>
                                            <td>283</td>
                                            <td><a href="https://amzn.to/3csnsQ6">Link</a></td>
                                            <td>This invaluable textbook presents a comprehensive introduction to modern competitive programming. The book contains many “folklore” algorithm design tricks that are known by experienced competitive programmers, yet which have previously only been formally discussed in online forums and blog posts.</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Competitive Programmer's Handbook</td>
                                            <td>Antti Laaksonen</td>
                                            <td>_</td>
                                            <td>315</td>
                                            <td><a href="https://amzn.to/2xIxOwp">Link</a></td>
                                            <td>This is the best book for beginners , in the complex field of "competitive Programming".This is a critical field and this book is specially written to improve skill to coder gradually and consistently. It will enhance your skill , and every beginner should have this .</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>The Algorithm Design Manual</td>
                                            <td>Steven S Skiena</td>
                                            <td>4.2</td>
                                            <td>730</td>
                                            <td><a href="https://amzn.to/2VA0yzu">Link</a></td>
                                            <td>The book is written in more readable text. Some find it comprehensive than other books. You can also find some good resources (including the author's own video lectures) on its <a href="http://www.algorist.com/">official website</a>.</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Efective STL</td>
                                            <td>Scott Maeyers</td>
                                            <td>4.4</td>
                                            <td>282</td>
                                            <td><a href="https://amzn.to/2VLKdrI">Link</a></td>
                                            <td>Written for the intermediate or advanced C++ programmer, renowned C++ expert Scott Meyers provides essential techniques for getting more out of the Standard Template Library in Effective STL, a tutorial for doing more with this powerful library.</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>C++ Primer</td>
                                            <td>Stanley Lippman, Josee Lajoje and Barbara Moo </td>
                                            <td>4.2</td>
                                            <td>976</td>
                                            <td><a href="https://amzn.to/2yqP7Cp">Link</a></td>
                                            <td>Fully updated and recast for the newly released C++11 standard, this authoritative and comprehensive introduction to C++ will help you to learn the language fast, and to use it in modern, highly effective ways</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>9</td>
                                            <td>Algorithm Design</td>
                                            <td>Jon Kleinberg and Éva Tardos</td>
                                            <td>4.2</td>
                                            <td>864</td>
                                            <td><a href="https://amzn.to/2Kje0CK">Link</a></td>
                                            <td> Algorithm Design introduces algorithms by looking at the real-world problems that motivate them. The book teaches students a range of design and analysis techniques for problems that arise in computing applications. </td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Competitive Programming 3</td>
                                            <td>Felix Halim and Steven Halim</td>
                                            <td>4.8</td>
                                            <td>447</td>
                                            <td><a href="https://cpbook.net/">Link</a></td>
                                            <td> This book is an introduction to data structures and algorithms that are needed in modern programming contests. It is a must read book. It is best introduction to programming contests</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'core/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'core/dist/js/pages/datatable/datatable-basic.init.js' %}"></script>
{% endblock %}