{% extends 'base.html' %}
{% load static %}
{% block title %}Codeforces Viewer{% endblock %}
{% block head %}
    <meta name="Description" content="CFviewer Dashboard. Shows charts abouts your Codeforces Problems skill and Contests. Track your progress here. Improve Competitive Programming skills.">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var dlist = [['Category', 'Problems']]
        {% for x,y in ProbCat.items %}
            var temp = []
            temp.push("{{x}}")
            temp.push({{y}})
            dlist.push(temp)
        {% endfor %}
        var data = google.visualization.arrayToDataTable(dlist);
        var options = {
          pieHole: 0.4,
        };
        var chart = new google.visualization.PieChart(document.getElementById('donutchart1'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var dlist = [['Tags', 'Problems']]
          {% for x,y in ProbTags.items %}
              var temp = []
              temp.push("{{x}}")
              temp.push({{y}})
              dlist.push(temp)
          {% endfor %}
          var data = google.visualization.arrayToDataTable(dlist);
          var options = {
            pieHole: 0.4,
          };
          var chart = new google.visualization.PieChart(document.getElementById('donutchart2'));
          chart.draw(data, options);
        }
      </script>
      <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var dlist = [['Verdict', 'Times']]
          {% for x,y in SubsInfo.items %}
              var temp = []
              temp.push("{{x}}")
              temp.push({{y}})
              dlist.push(temp)
          {% endfor %}
          var data = google.visualization.arrayToDataTable(dlist);
          var options = {
            pieHole: 0.4
          };
          var chart = new google.visualization.PieChart(document.getElementById('donutchart3'));
          chart.draw(data, options);
        }
      </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var dlist = [['Contest', 'Rating']]
        {% for y in ranklist %}
            var temp = []
            temp.push({{ forloop.counter }})
            temp.push({{y}})
            dlist.push(temp)
        {% endfor %}
        var data = google.visualization.arrayToDataTable(dlist);
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data);
      }
    </script>
{% endblock %}
{% block content %}

<h1 style="display: none;">Codeforces Viewer Dashboard</h1>
        <div class="page-wrapper">

            <div class="page-breadcrumb">
                <div class="row">

                    <!-- Modal HTML embedded directly into document -->
                    <div class="col-7 align-self-center">
                        <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Hello
                            {% if user.firstName %}
                                {{user.firstName}}
                            {% else %}
                                {{user.handle}}
                            {% endif %}
                             !</h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="container-fluid"> {% endcomment %}

            {% comment %} </div> {% endcomment %}
            <div class="container-fluid">
                <div id="ex3" class="alert alert-info modal" style="display: none; margin-top: 10%; height: auto;">
                    <p>
                            <h2><b><u>Please don't ignore this message</u></b></h2>
                            <h3>Hey {% if user.firstName %}
                                {{user.firstName}}
                            {% else %}
                                {{user.handle}}
                            {% endif %}, A big thanks to you for using my project!</h3> I hope you like it.
                            <br><br>

                            Please consider donating to keep this project running. I have run out of funds to host this website.
                            If more generous people like you donate, we can get a new domain name for this website - cfviewer.com.<br><br>
                            Even donations as small as <b>Rs. 100</b> will help me to serve it without ads.<br><br>
                            You can send your donations on <b>upi-id:rudrad200@icici</b> or <b>paytm:8401219589</b>.
                            <br>

                    </p>
                </div>
                  <!-- Link to open the modal -->
                  <p><a href="#ex3" id="ext3link" rel="modal:open" style="display: none;">Open Modal</a></p>
            <div class="alert alert-primary alert-dismissible bg-primary text-white border-0 fade show"
                        role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Hello Users, a small firefox extension has been made for the suggestions pages. You can search "CFViewer" on the firefox store or download it from <a href="https://addons.mozilla.org/addon/cfviewer/" style="color:white; text-decoration:underline;">here</a>.
                </div>
                <div class="alert alert-primary alert-dismissible bg-primary text-white border-0 fade show"
                        role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Note : </strong> If the charts below, doesnt appear properly , then please refresh to view it!
                </div>

                <div class="card-group">
                    <div class="card border-right">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center">
                                <div>
                                    <div class="d-inline-flex align-items-center">
                                        <h2 class="text-dark mb-1 font-weight-medium">{{probsolved}}</h2>
                                    </div>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Problems Solved</h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i data-feather="check"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-right">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center">
                                <div>
                                    <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium">{{contcount}}</h2>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Contests Attempted
                                    </h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i data-feather="award"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-right">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center">
                                <div>
                                    <div class="d-inline-flex align-items-center">
                                        <h2 class="text-dark mb-1 font-weight-medium">{{user.rating}}</h2>
                                    </div>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Current Rating</h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i data-feather="circle"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex d-lg-flex d-md-block align-items-center">
                                <div>
                                    <h2 class="text-dark mb-1 font-weight-medium">{{user.maxRating}}</h2>
                                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Max Rating</h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0">
                                    <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: max-content;">
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Problems Category</h4>
                                <div id="donutchart1" style="width: auto; height: 500px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Rating Changes</h4>
                                <div id="curve_chart" style="width: auto; height: 500px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Problems Category</h4>
                                <div id="donutchart2" style="width: auto; height: 500px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Submissions Type</h4>
                                <div id="donutchart3" style="width: auto; height: 500px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block scripts %}->
    <script src="{% static 'core/dist/js/pages/dashboards/dashboard1.min.js' %}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script>
        $(document).ready(function(){
   // Delay the action by 10000ms
        setTimeout(function(){
            // Display the div containing the class "bottomdiv"
            $("#ext3link").trigger("click");
        }, 2000);
        });

    </script>
{% endblock %}
