{% extends 'base.html' %}
{% load static %}
{% block title %}CFViewer Foobar Invite{% endblock %}
{% block head %}
<meta name="description" content="Get an invite for Google Foobar Challenge. Join the queue and wait for your turn. Till then , explore the site.">
<link rel="stylesheet" type="text/css" href="{% static 'core/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}"/>
{% endblock %}
{% block content %}
<h1 style="display: none;">Codeforces Viewer Invites page</h1>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Hello 
                        {% if user.firstName %}
                            {{user.firstName}}
                        {% else %}
                            {{user.handle}}
                        {% endif %}
                            !</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item"><a href="/invites/{{user.handle}}">Invites Page</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="container-fluid">
                    <div class="alert alert-primary alert-dismissible bg-primary text-white border-0 fade show"
                        role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Note : </strong> Please provide your details accurately. Link will be shared through your email or mobile message. And only 15 minutes will be given for reply. If not replied within 15 minutes. Your application will be rejected.
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="alert alert-primary alert-dismissible bg-primary text-white border-0 fade show"
                        role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Note : </strong> Your rating needs to be atleast 1500 on codeforces.
                    </div>
                </div>
                {% if inviteform %}
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Invite Form</h4>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="text" id="id_for_cfhandle" name="cfhandle" data-toggle="tooltip" data-placement="bottom"
                                        title="Tooltip on bottom" class="form-control" placeholder="Your CF Handle" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="id_for_emailid" name="emailid"placeholder="Email ID" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="id_for_mobile" name="mobile" placeholder="Mobile Number with country code">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-info">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Current Queue</h4>
                            <h6 class="card-subtitle">List of Handles already applied.</h6>
                            <div class="table-responsive">
                                <table id="default_order"
                                    class="table table-striped table-bordered display no-wrap" style="width:100%">
                                    <thead class="bg-primary text-white">
                                        <tr>
                                            <th>No.</th>
                                            <th>Handle</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in currlist%}
                                            {% if x.status == 0 %}
                                            <tr>
                                            {% else %}
                                            {% if x.status == 1%}
                                            <tr style="background-color: #ff9292;">
                                            {% else %}
                                            <tr style="background-color:#a8eabe;">
                                            {% endif %}
                                            {% endif %}
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{x.cfhandle}}</td>
                                                <td>
                                                    {% if x.status == 0%}
                                                    Inqueue
                                                    {% else %}
                                                    {% if x.status == 1%}
                                                    Rejected
                                                    {% else %}
                                                    Accepted
                                                    {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'core/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'core/dist/js/pages/datatable/datatable-basic.init1.js' %}"></script>
{% endblock %}