{% extends 'base.html' %}
{% load static %}
{% block title %}CFViewer Problems{% endblock %}
{% block head %}
<meta name="description" content="Codeforces Problemset Viewer with filters and solved/unsolved tags. Filter and sort based on your requirements. Try our suggested filters for good problems.">
<link rel="stylesheet" type="text/css" href="{% static 'core/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}"/>
{% endblock %}
{% block content %}
<h1 style="display: none;">Codeforces Viewer Problems page</h1>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Hello 
                        {% if user.firstName %}
                            {{user.firstName}}
                        {% else %}
                            {{user.handle}}
                        {% endif %}
                            !</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item"><a href="index.html">Problems Page</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="container-fluid">
                    <div class="alert alert-primary alert-dismissible bg-primary text-white border-0 fade show"
                        role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Note : </strong> By default problems are listed from ({{user.maxRating}} + 300) to ({{user.maxRating}} - 100) difficulty.
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show"
                        role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Warning : </strong> Please enter comma(,) separated tags in the tags field.
                    </div>
                    <div class="alert alert-info alert-dismissible fade show"
                        role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Info : </strong> For faster name search and tag search , you can search in the box provided above the table.
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Add filters</h4>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="id_for_category">Category</label>
                                                </div>
                                                <select class="custom-select" id="id_for_category" name="category">
                                                    {% for x,y in filterform.fields.category.choices %}
                                                    {% if forloop.counter == 1%}
                                                    <option value="{{x}}" selected>{{y}}</option>
                                                    {% else %}
                                                    <option value="{{ x }}">{{ y }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="id_for_ratingmin" name="ratingmin" placeholder="Minimum Rating">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="id_for_ratingmax" name="ratingmax"placeholder="Maximum Rating">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="text" id="id_for_tags" name="tags" data-toggle="tooltip" data-placement="bottom"
                                        title="Tooltip on bottom" class="form-control" placeholder="Enter tags">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-info">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Problems List</h4>
                            <h6 class="card-subtitle">List of problems in codeforces problemset along with links and information. <br>Problems with <span style="background-color:#a8eabe; color:black;">green</span> background are already solved.<br> Problems with <span style="background-color: #ff9292;color: white;">red</span> background are attempted but unsolved.<br> Problems with white background are not attempted.</h6>
                            <div class="table-responsive">
                                <table id="multi_col_order"
                                    class="table table-striped table-bordered display no-wrap" style="width:100%">
                                    <thead class="bg-primary text-white">
                                        <tr>
                                            <th>No.</th>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th>Users Solved</th>
                                            <th>Rating</th>
                                            <th>Link</th>
                                            <th>Type</th>
                                            <th>Tags</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in problems%}
                                            {% if x.1 == "white" %}
                                            <tr>
                                            {% else %}
                                            <tr style="background-color:{{x.1}};">
                                            {% endif %}
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{x.0.name}}</td>
                                                <td>{{x.0.index}}</td>
                                                <td><a href="https://codeforces.com/problemset/status/{{x.0.contestId}}/problem/{{x.0.index}}" target="_blank">{{x.0.userssolved}}</a></td>
                                                <td>{{x.0.rating}}</td>
                                                <td><a href="https://codeforces.com/contest/{{x.0.contestId}}/problem/{{x.0.index}}" target="_blank">Link</a></td>
                                                <td>{{ x.2 }}</td>
                                                <td>{{x.0.tags}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'core/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'core/dist/js/pages/datatable/datatable-basic.init.js' %}"></script>
{% endblock %}