{% extends 'base.html' %}
{% load static %}
{% block title %}PvP Home{% endblock %}
{% block content %}
    <h1 style="display: none;">PvP Home Page</h1>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Hello 
                        {% if user.firstName %}
                            {{user.firstName}}
                        {% else %}
                            {{user.handle}}
                        {% endif %}
                            !</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item"><a href="index.html">Contests Page</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="row">
        <h2>{{token}}</h2>
        </div>
        </div>

    </div>
{% endblock %}